*
{
    margin: 10px;
    box-sizing: border-box;
}
body
{
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
}
header
{
    background-color: red;
}
main
{
    background-color: chocolate;
}
nav
{
    background-color: blueviolet;
}